
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

frontend:
  themes: !include themes.yaml
  extra_html_url:
    - /local/custom_ui/state-card-floorplan.html
# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123
http:
  base_url: https://home.vferreira.pt:8123
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem
 
# Text to speech
tts:
  - platform: google_translate

shopping_list:

mqtt:
  broker: !secret mqttsvr
  username: !secret mqttusr
  password: !secret mqttpss
  keepalive: 60
  
weblink:
  entities:
    - name: Router
      url: http://192.168.1.1/
    - name: Home Assistant
      url: https://home-assistant.io

device_tracker:
  - platform: huawei_router
    host: 192.168.1.1
    username: !secret routerVDFusr
    password: !secret routerVDFpss
   
switch:
  - platform: mqtt
    name: "Luz Aquario"
    command_topic: "cmnd/SonoffluzAquario/power"
    state_topic: "stat/SonoffluzAquario/POWER"
    qos: 1
    payload_on: "ON"
    payload_off: "OFF"
    retain: true
    
cover:
  - platform: mqtt
    name: "Portao Garagem"
    state_topic: "garageGate/state"
    command_topic: "garageGate/cmd"
    qos: 1
    payload_open: "push"
    payload_close: "push"
    #payload_stop: "na"
    state_open: "Open"
    state_closed: "Closed"
    optimistic: false
    retain: false

light:
  - platform: mqtt
    name: "Luz Garagem 1"
    command_topic: "cmnd/bhonofreluzgaragem/POWER1"
    state_topic: "stat/bhonofreluzgaragem/POWER1"
    qos: 1
    payload_on: "ON"
    payload_off: "OFF"
    optimistic: false
    retain: true

panel_custom:
  - name: floorplan
    sidebar_title: Floorplan
    sidebar_icon: mdi:home
    url_path: floorplan
    config: !include floorplan.yaml

panel_iframe:
  tasmoadmin:
    title: TasmoAdmin
    icon: mdi:lightbulb-on
    url: https://home.vferreira.pt:9541
    
speedtestdotnet:
  scan_interval:
    minutes: 30
  monitored_conditions:
    - ping
    - download
    - upload
    
media_player: !include mediaplayer.yaml
sensor: !include sensor.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml

binary_sensor:
  - platform: mqtt
    state_topic: dummy/floorplan/sensor
    name: Floorplan
homeassistant:
  customize:    
    binary_sensor.floorplan:
      custom_ui_state_card: state-card-floorplan
      config: !include floorplan.yaml
