homeassistant:
  # Name of the location where Home Assistant is running
  name: Casa_ValterRita
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_lat
  longitude: !secret home_long
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 168
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Lisbon
  # Customization file
  customize: !include customize.yaml

# Show links to resources in log and frontend
#introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

http:
  api_password: !secret http_password
#  ssl_certificate: /data/letsencrypt/live/inforsource.ddns.net/fullchain.pem
#  ssl_key: /data/letsencrypt/live/inforsource.ddns.net/privkey.pem
  # Secrets are defined in the file secrets.yaml
  # api_password: !secret http_password
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

#no_ip:
#  domain: inforsource.ddns.net
#  username: !secret noipUsr
#  password: !secret noipPss

# Track the sun
sun:

#mosquitto broker
mqtt:
  broker: 192.168.1.142
  port: 1883
  username: !secret mqttusr
  password: !secret mqttpss

switch:
  - platform: mqtt
    name: "Maker Switch"
    state_topic: "casa/sala/luz/state"
    command_topic: "casa/sala/luz/set"
    payload_on: "ON"
    payload_off: "OFF"
    optimistic: false
    qos: 0
    retain: true

# Weather prediction
sensor:
!include sensorSTB.yaml
  - platform: time_date
    display_options:
      - 'time_date'
  - platform: wunderground
    lang: BR
    api_key: !secret wuApiKey
    monitored_conditions:
      - weather_1d_metric
      - weather_1n_metric
      - weather_2d_metric
      - weather_2n_metric
      - weather_3d_metric
      - weather_3n_metric
      - weather_4d_metric
      - weather_4n_metric

  - platform: cpuspeed
  - platform: speedtest
    minute: 30
    hour:
      - 0
      - 6
      - 12
      - 18
    monitored_conditions:
      - ping
      - download
      - upload
  - platform: systemmonitor
    resources:
      - type: disk_use_percent
        arg: /home
      - type: memory_free
      - type: last_boot

# Text to speech
tts:
  - platform: google

# Cloud
cloud:

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml

notify:
  - name: notify_pushBullet
    platform: pushbullet
    api_key: o.5uPUrE5NxJ1F764WUKK0pLhuo8ImYnAN

media_player:
  - platform: mediaroom
    host: 192.168.1.65
    name: "vodafone STB"
    optimistic: True
  - platform: samsungtv
    host: 192.168.1.70
  - platform: spotify
    client_id: !secret spotifyClientId
    client_secret: !secret spotifyClientSecret
#    aliases:
#        abc123def456: 'Living Room'
#        9183abas000: 'Bed Room'

weblink:
  entities:
    - name: Router
      url: http://192.168.1.1/
    - name: Home Assistant
      url: https://home-assistant.io

device_tracker:
  - platform: huawei_router
    host: 192.168.1.1
    username: !secret routerVDFusr
    password: !secret routerVDFpss
    
input_select:
  canal:  
    name: 'Escolhe o Canal'
    options:
      - RTP 1
      - RTP 2
      - SIC
      - TVI
      - SIC N
      - RTP 3
      - TVI 24
      - CMTV
      - SPTV+
      - GLOBO
      - SIC M
      - PROMO
      - PORTOC HD
      - SIC CARAS
      - SIC R
      - CINEMA PORTUGUES
      - RTPMEM
      - 24K HD
      - CANAL Q HD
      - SPTV 1
      - SPTV 3
      - SPTV+ HD
      - SPORT TV 4K
      - BTV 1
      - SCP TV
      - SCP TV HD
      - EURSP
      - EURSP HD
      - EURSP 2
      - MOTORS HD
      - PFC
      - FUELTV HD
      - DISNEY
      - DISNEY J
      - DMOD
      - CN PT
      - PANDA
      - PANDA B
      - BABY TV
      - SIC K
      - JIMJAM
      - CINEKIDS
      - MINIMOTION
      - PLAYTIME
      - TRAILERS
      - TVC 1
      - TVC S
      - HOLLYW HD
      - HOLLYW
      - CINEMUNDO HD
      - CINEMUNDO SD
      - FOX M HD
      - FOX M
      - FOX HD 
      - FOX
      - AXN HD
      - AXN
      - FOXL HD
      - FOXLIF
      - FOX C HD
      - FOXCRI
      - FOX +
      - FOX COMEDY HD
      - FOX COMEDY SD 
      - AXN W HD
      - AXN W
      - AXN B HD
      - AXN BLK
      - SYFY SD
      - AMC HD
      - AMC SD
      - AMC HD
      - NETFLIX
      - OSCARES
      - INDIEWORLD
      - SUPER8
      - PLAYMOTION
      - CASA DO TERROR
      - MTV P HD
      - MTV PT
      - VH1
      - BRAVA TV
      - DJAZZ
      - MCM TOP HD
      - MCMTOP
      - CMUSIC
      - AFRO M
      - TRACE HD
      - TRACE
      - TRACE TOCA
      - DISC HD
      - DISCOV
      - NGC HD
      - NGC
      - NGW HD
      - NGCWIL
      - HISTOR
      - ODISSE
      - ODISSEIA HD
      - DOCUBOX HD
      - AE
      - TLC
      - E! HD
      - E!
      - TRAVEL HD
      - TRAVEL
      - FASHION TV HD
      - FASH TV
      - TFN HD
      - TFN
      - 24 K
      - BBC ENTERT
      - CANAL Q
      - INSIGHT TV HD
      - GINX
      - QYOU HD
      - QYOU SD
      - GLOBO P
      - TV REC HD
      - TV REC
      - EURONEWS EN
      - EURONW
      - BLOOMB
      - SKY NEWS
      - BBC WD
      - CNBC E
      - ALJAZE
      - TVE 24
      - DW
      - FRA24 E
      - FRA24 F
      - REC NEWS
      - CMTV HD
      - 180
      - ANGELUS TV
      - RTPMAD
      - RTPACOR
      - PORTOC
      - CNOVA
      - AR TV
      - LOCAL HD
      - LOCAL V
      - RTP AF
      - TPA
      - TVC NEWS
      - TVC INT
      - TVGALICIA
      - RTP HD
      - TVEI
      - TV5MON
      - RAI1
      - PROTV
      - RUSSIA
      - RT DOC
      - CUBAVI
      - NHK WORLD
      - KURIAKOS TV
      - TOUROS
      - CAC & PESCA
      - CACVISION
      - MOTORS
      - FIGHTBOX
      - FASTNFUN BOX
      - FIGHT NETWORK HD
      - FUEL TV
      - DOG TV
      - OH YES
      - PLAYBOY
      - HUSTL
      - HOT
      - PENT
      - HOT MAN
      - HOT TABOO
      - START APPS
      - SIC HD
      - SICN HD
      - GLOBO HD
      - SIC M HD
      - SIC C HD
      - SIC R HD
      - YUBUY.LJ
      - YUBUY.TV
      - VIDEO
      - GRAV
      - STINGRAY KARAOKE
      - KARAOKE
      - ARCADE
      - 420
      - + CANAIS
      - STINGRAY MUSIC
      - RADIO
      - VODAFONE FM
      - COMERCIAL
      - M80
      - RFM
      - RR
      - SIM
      - ANTENA 1
      - ANTENA 2
      - ANTENA 3
      - RECORD FM
      - RDP AFRICA
      - TSF
      - CIDADE FM
      - MEGA FM
      - RADIO REGIONAL
      - HIPER FM
      - GOLO FM
      - SMOOTH FM
      - RADIO SINES
      - MUNDIAL FM
      - RTP1 H
      - RTP2 H
      - SIC H
      - TVI H

  zona_da_box:
    name: 'Escolhe a Box:'
    options:
      - Sala
#      - Quarto
    icon: mdi:speaker-wireless
